<!-- app/views/shared/_user_list.html.erb -->
<%= turbo_frame_tag "main_content" do %>
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6">Nombre</th>
          <th scope="col" class="py-3 px-6">Email</th>
          <th scope="col" class="py-3 px-6">Rol</th>
          <th scope="col" class="py-3 px-6">Cursos</th>
          <th scope="col" class="py-3 px-6">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="py-4 px-6"><%= user.name %></td>
            <td class="py-4 px-6"><%= user.email %></td>
            <td class="py-4 px-6"><%= user_role(user.role) %></td>
            <td class="py-4 px-6"><%= user_role_cursos(user.role_cursos) %></td>
            <td class="py-4 px-6">
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

